<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @task.title %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>User:</b>
  <%= User.find_by_id(@task.user_id).title %>
</p>

<p>
  <b>Group:</b>
  <%= Group.find_by_id(@task.group_id).title %>
</p>

<h3>Comments</h3>

<ul id="comments">
  <% @comments.each do |comment| %>
      <li><%= comment.content %></li>
  <% end %>
</ul>

<%=  link_to 'Comment',task_comments_path(@task)  %>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
