<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @group.title %>
</p>

<p>
  <b>Description:</b>
  <%= @group.description %>
</p>

<p>
  <b>Tasks:</b>
  <%= hidden_field_tag :group_id, '', value: @group.id  %>
  <% if @tasks != [] %>
    <ul id="sortable">
      <% @tasks.each do |task| %>
          <li id="tasks_<%= task.id %>"  class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= task.title %></li>
      <% end %>
    </ul>
  <% end %>
</p>



<h3>Comments</h3>

<ul id="comments">
  <% @comments.each do |comment| %>
      <li><%= comment.content %></li>
  <% end %>
</ul>




<%=  link_to 'Comment',group_comments_path(@group)  %>
<%= link_to 'Edit', edit_group_path(@group) %>
|
<%= link_to 'Back', groups_path %>

<script>
    $(function() {
        $("#sortable").sortable({
            update: function(event, ui) {

            var str = $(this).sortable('serialize');
            if ($('#group_id').val()) {
                str = str + "&group_id=" + $('#group_id').val();
            }

            $.ajax({
                url: '<%= tasks_orders_path %>',
                data: str

            });
            }
        })
    });
</script>
