<p id="notice"><%= notice %></p>


<%= image_tag @user.avatar.url(:small) %>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Title:</b>
  <%= @user.title %>
</p>

<p>
  <b>Description:</b>
  <%= @user.description %>
</p>

<p>
  <b>Tasks:</b>
  <%= hidden_field_tag :user_id, '', value: @user.id  %>
<ul id="sortable">
  <% @tasks.each do |task| %>
      <li id="tasks_<%= task.id %>" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= task.title %></li>
  <% end %>
</ul>
</p>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<div id="slider1">
  <a class="buttons prev" href="#">left</a>
  <div class="viewport">
    <ul class="overview">
        <% @user.attached_assets.each do |a| %>
           <li> <%= image_tag(a.asset.url(:mini)) %> </li>
        <% end %>
    </ul>
  </div>
  <a class="buttons next" href="#">right</a>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#slider1').tinycarousel({ display: 3 });
    });
</script>


<script>
    $(function() {
        $("#sortable").sortable({
            update: function(event, ui) {

                var str = $(this).sortable('serialize');
                if ($('#user_id').val()) {
                    str = str + "&user_id=" + $('#user_id').val();
                }

                $.ajax({
                    url: '<%= tasks_orders_path %>',
                    data: str

                });
            }
        })
    });
</script>