<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @user.title %>
</p>

<p>
  <b>Description:</b>
  <%= @user.description %>
</p>

<p>
  <b>Tasks:</b>
  <% @user.tasks.each do |task| %>
    <%= task.title %>
    <p>Description: <%= task.description %></p>
  <% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
