<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @user.title %>
</p>

<p>
  <b>Description:</b>
  <%= @user.description %>
</p>

<p>
  <b>Tasks:</b>
<ul id="sortable">
  <% @user.tasks.each do |task| %>
      <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= task.title %></li>
  <% end %>
</ul>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
