<%= form_for(@group_tasks_order) do |f| %>
  <% if @group_tasks_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_tasks_order.errors.count, "error") %> prohibited this group_tasks_order from being saved:</h2>

      <ul>
      <% @group_tasks_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :task_id %><br />
    <%= f.number_field :task_id %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.number_field :order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
