<h1>Listing group_tasks_orders</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Task</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_tasks_orders.each do |group_tasks_order| %>
  <tr>
    <td><%= group_tasks_order.group_id %></td>
    <td><%= group_tasks_order.task_id %></td>
    <td><%= group_tasks_order.order %></td>
    <td><%= link_to 'Show', group_tasks_order %></td>
    <td><%= link_to 'Edit', edit_group_tasks_order_path(group_tasks_order) %></td>
    <td><%= link_to 'Destroy', group_tasks_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group tasks order', new_group_tasks_order_path %>
