<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @group_tasks_order.group_id %>
</p>

<p>
  <b>Task:</b>
  <%= @group_tasks_order.task_id %>
</p>

<p>
  <b>Order:</b>
  <%= @group_tasks_order.order %>
</p>


<%= link_to 'Edit', edit_group_tasks_order_path(@group_tasks_order) %> |
<%= link_to 'Back', group_tasks_orders_path %>
